@media (max-width: 750px){
    .menu{
        display: none;
    }
    .basket{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .goods {
        grid-template-columns: 100%;
        margin-top: 50px;
    }
    .description-goods{
        text-align: center;
    }
    #photo-matebook {
        margin-top: 0px; 
    }
    #btn {
        width: 23vw;
        height: 8vw;
        font-size: 3.7vw;
    }
    #text-desc-2 {
        font-size: 6vw;
    }
    #text-desc {
        font-size: 7vw;
    }
    #menu-a{
        color: white;
        
    }
    
}